.description {
	font-size: 1rem;
	color: #606060;
}

section {
	&.margin-block {
		margin-bottom: 60px;
	}

	&.our-principe {
		background: #dfe9f1;
	}

	&.padding-block {
		padding-block: 24px;
	}
}

.app-card-wrapper {
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

	.app-card {
		background: #fff;
		padding: 20px;
		border: 1px solid #e0e0e0;
		border-radius: 6px;
	}
}

textarea {
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
	font-size: 18px;
	color: #606060;
	font-family: 'Open Sans', sans-serif;
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	padding: 12px 20px;
	height: 150px;
	resize: none;
}