.home-page, .dashboard-page {
	.description {
		font-size: 18px;
	}

	.app-container {
		> .flex {
			> div {
				width: 50%;
			}
		}
	}

	section {
		padding-block: 32px;
	}
}

.home-page {
	section {
		margin-block: 60px;
	}

	.app-container {
		+ .app-container {
			margin-block: 60px;
		}
	}
}

.app-card-wrapper {
	grid-template-columns: repeat(auto-fit, 400px);

	.app-card {
		background: #fff;
		padding: 20px;
		border: 1px solid #e0e0e0;
		border-radius: 6px;
	}
}